[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
langchain-openai = "*"
langchain = "*"
langchain-community = "*"
sentence-transformers = "*"
pinecone = "*"
langchain-pinecone = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
langchain-huggingface = "*"
youtube-transcript-api = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
